header{
    background: #BBBBBB;
    padding: 20px 0;
}
.box{
    position: relative;
    width: 940px;
    margin: 0 auto ;
}

nav{
    position: absolute;
    top: 110px;
    right: 2px;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #C79C19;
    text-decoration: underline;
}
main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label , form legend {
display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
.inputPadrao{
    display: block;
    margin-bottom: 20px;
    padding: 8px 25px;
    width: 50%;
}
#receber-email{
    margin: 20px 0;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
    //transform: rotate(70deg);
}

table{
    margin: 20px 0 40px;
}
thead{
    background: #555555;
    color: white;
    font-weight: bold;
}
td, th{
    border: 1px solid black;
    padding: 8px 15px;
}

footer{
    text-align: center;
    background: url("imgs/bg.jpg");
    padding: 40px 0;
}
.copyright{
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
}